name: Automated Zoho Task creater

on:
  push: # Trigger the workflow on push events
    branches:
      - main # Adjust this based on your branch
    paths:
      - '**.xlsx' # Detect any Excel file changes in the repository
      
jobs:
  run-task-automation:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout ZohoTaskTemplates repo
      - name: Checkout ZohoTaskTemplates repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Fetch full commit history

      # 2. Identify the changed Excel file
      - name: Identify changed Excel files
        run: |
          git diff --name-only HEAD^ HEAD > changed_files.txt
          cat changed_files.txt

      - name: Set file path
        id: setpath
        run: |
          FILE=$(grep -E '\.xlsx$' changed_files.txt | head -n 1)
          echo "::set-output name=filepath::$FILE"

      # 3. Checkout the GRL-Zoho-Insights repo on the TaskCreate branch
      - name: Checkout GRL-Zoho-Insights (TaskCreate branch)
        run: |
          git clone --branch TaskCreate https://$GITHUB_ACTOR:${{ secrets.REPO_TOKEN }}@github.com/grltechs/GRL-Zoho-Insights.git

      # 4. Navigate to the folder with .csproj and build the application
      - name: Run C# application with Excel file
        run: |
          cd GRL-Zoho-Insights/GRL-Zoho-Insights  # Navigate to the folder with the .csproj file
          dotnet build
          dotnet run -- "../../${{ steps.setpath.outputs.filepath }}"  # Adjust Excel file path based on current directory
